modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://avbcyourzilgvunaeaqm.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2YmN5b3VyemlsZ3Z1bmFlYXFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MTc0NDcsImV4cCI6MjA5MDE5MzQ0N30.7FRFIHrnUAi4M-sQpszrQgneQtnY3uJfwe_SfoWmOW8"
GITHUB_DEPLOY_KEY_B64 = "LS0tLS1CRUdJTiBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0KYjNCbGJuTnphQzFyWlhrdGRqRUFBQUFBQkc1dmJtVUFBQUFFYm05dVpRQUFBQUFBQUFBQkFBQUFNd0FBQUF0emMyZ3RaVwpReU5UVXhPUUFBQUNEUC9YQytsRHpNUWhmbmMrZWd1Ni9wYkZKTE9GU2xvQWRLcDNOR1g5d3FrUUFBQUpoUytGYXdVdmhXCnNBQUFBQXR6YzJndFpXUXlOVFV4T1FBQUFDRFAvWEMrbER6TVFoZm5jK2VndTYvcGJGSkxPRlNsb0FkS3AzTkdYOXdxa1EKQUFBRUFPSWRYZjYyQ1U2b09wdFc5S0hjY3kxV1NEQXI4bmhYcEk0OFYya2t6ME1zLzljTDZVUE14Q0YrZHo1NkM3citscwpVa3M0VktXZ0IwcW5jMFpmM0NxUkFBQUFEM0psY0d4cGRDMWhlblZzWldwdmN3RUNBd1FGQmc9PQotLS0tLUVORCBPUEVOU1NIIFBSSVZBVEUgS0VZLS0tLS0K"
